.Common-badge {
  background-color: gray;
  color: white;
  border-radius: 25px;
  padding: 3px;
  margin-left: 5px;
}

.Common-label {
  font-weight: bold;
}

.Common-background-color {
  background-color: #EFEEEE;
}
