.Header {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #E3E3E3;
}

.Header-panel {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 1.5em;
}
