.Intro {
  width: 90%;
  max-height: 100vh;
  overflow: hidden;
  margin: auto;
  -webkit-transition: max-height .65s ease-in; /* For Safari 3.1 to 6.0 */
  transition: max-height .65s ease-in;
}

.Intro-close {
  max-height: 0px;
  -webkit-transition: max-height .65s ease-out; /* For Safari 3.1 to 6.0 */
  transition: max-height .65s ease-out;
}
